{% extends 'base.html.twig' %}

{% block title %}Event {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{event.name}}</h1>
    <ul>
        <li> {{event.descr}}</li>
        <li> {{event.sdate | date('d-m-y') }}</li>
        <li> {{event.rdate | date('d-m-y')}}</li>
    </ul>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.isAttending) }}

        <button type="submit" class="btn">submit</button>
    {{ form_end(form) }}
    <ul>
        {% for name in namearray %}
            <li>{{name}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
