{% extends 'base.html.twig' %}

{% block title %}Event {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ event.name }}</h1>
    <ul>
        <li>{{ event.descr }}</li>
        <li>{{ event.sdate | date('d-m-y') }}</li>
        <li>{{ event.rdate | date('d-m-y') }}</li>
    </ul>
        {% if app.user not in event.users %}
            <a href="{{path('event_join', { id: event.id })}}"><button class="btn">join</button></a>
        {% else %}
            <a href="{{path('event_leave', { id: event.id })}}"><button class="btn">leave</button></a>
        {% endif %}
    <ul>
        prizes:

        {% for prize in event.prizes %}
            <li>{{prize.name}}</li>
        {% endfor %}
            Current participants:
        {% for user in event.users %}
            <li>{{user.Username}}</li>
        {% endfor %}

    </ul>

</div>
{% endblock %}
